body{
    background-color: rgb(84, 162, 164);
}

h1 {

    color: rgb(194, 44, 97);
    margin-left: 20px;
  }
  
  h2 {
    background-color: rgb(84, 162, 164);
    color: rgb(193, 12, 12);
  }
  
  
  
  
